.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.category-column {
  padding: 1px !important;
}

.category-box {
  border-radius: 3%;
  height: 15rem;
  background-color: #6bcbcb;
  color: white;
  transition: 1s;
}

.category-box:hover {
  background-color: #15a2a2;
  transition: 1s;
  transform: scale(1.01);
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  margin-top: 2rem !important;
  height: 26rem;
}

.title {
  font-size: 1.2rem;
  padding-left: 10px;
  text-align: left;
  border-left: 2px solid black;
}

.description {
  font-size: 0.9rem;
  text-align: left;
  overflow: scroll;
  height: 8rem;
}

.link {
  text-align: left;
  align-self: flex-end;
  margin-top: auto;
  padding-top: 0.5rem;
}
