.App {
  text-align: center;
}

nav {
  background-color: white;
  color: #42c693;
}

.nav-footer {
  color: #42c693 !important;
}

footer {
  border-top: 1px solid lightgray;
  background: white;
}

.row-header {
  background-color: #42c693;
  background-image: url('./assets/img/news-sources.jpg');
  background-size: cover;
  position: absolute;
  left: 0;
  right: 10px;
  padding-top: 4rem;
  padding-bottom: 5rem;
  z-index: -1;
}

.row-content {
  padding-top: 17rem;
}

.row-articles {
  padding-top: 12rem;
}

.category-column {
  padding: 1px !important;
  cursor: pointer;
}

.category-box {
  border-radius: 3%;
  height: 15rem;
  background-color: #6bcbcb;
  color: white;
  transition: 1s;
}

.category-box:hover {
  background-color: #15a2a2;
  transition: 1s;
  transform: scale(1.01);
}

.preloader {
  padding-top: 10rem;
}

.preloader-home {
  padding-top: 25rem;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  margin-top: 2rem !important;
  height: 33rem;
}

.article-home {
  margin-top: 2rem !important;
  height: 40rem;
}

.about {
  margin-top: 2rem !important;
  height: 40rem;
  padding-top: 15rem !important;
}

.content-about {
  padding: 2rem;
}

.border {
  border: 1px solid #e5e5e5;
  border-radius: 1%;
  box-sizing: border-box;
  height: 100%;
  background-color: white;
  cursor: pointer;
}

.border-box {
  box-sizing: border-box !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.title {
  width: 100% !important;
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
  border-left: 5px solid #90dabe;
  padding: 0 1rem;
  margin: 1rem 0;
}

.content {
  position: relative !important;
  flex: 1 1 auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.flex {
  flex-wrap: wrap;
  display: flex !important;
  justify-content: flex-start !important;
}

.description {
  font-size: 0.9rem;
  text-align: left;
  overflow: scroll;
  max-height: 7rem;
  padding: 0 1rem;
}

.link {
  display: flex !important;
  padding-left: 1rem;
  padding-top: 1rem;
}

.brand-logo {
  color: #42c693 !important;
  padding-left: 1rem !important;
}

.nav-item > a {
  color: black;
}
